<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>alarmcfg</display-name>
	<servlet>
		<description>
		Standard login page.</description>
		<display-name>
		LoginPage</display-name>
		<servlet-name>LoginPage</servlet-name>
		<servlet-class>
		com.ericsson.eniq.alarmcfg.servlets.LoginPage</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ExistingAlarms</display-name>
		<servlet-name>ExistingAlarms</servlet-name>
		<servlet-class>
		com.ericsson.eniq.alarmcfg.servlets.ExistingAlarms</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ChangeStatus</display-name>
		<servlet-name>ChangeStatus</servlet-name>
		<servlet-class>
		com.ericsson.eniq.alarmcfg.servlets.ChangeStatus</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		DeleteReport</display-name>
		<servlet-name>DeleteReport</servlet-name>
		<servlet-class>
		com.ericsson.eniq.alarmcfg.servlets.DeleteReport</servlet-class>
	</servlet>
	<servlet>
		<description>
		Add a new report to a given interface.</description>
		<display-name>
		AddReport</display-name>
		<servlet-name>AddReport</servlet-name>
		<servlet-class>
		com.ericsson.eniq.alarmcfg.servlets.AddReport</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AlarmServlet</display-name>
		<servlet-name>AlarmServlet</servlet-name>
		<servlet-class>
		com.ericsson.eniq.alarmcfg.servlets.AlarmServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>
		com.ericsson.eniq.alarmcfg.servlets.Logout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AjaxReport</display-name>
		<servlet-name>AjaxReport</servlet-name>
		<servlet-class>
		com.ericsson.eniq.alarmcfg.servlets.AjaxReport</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AddAlarm</display-name>
		<servlet-name>AddAlarm</servlet-name>
		<servlet-class>
		com.ericsson.eniq.alarmcfg.servlets.AddAlarm</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AlarmReportRunner</display-name>
		<servlet-name>AlarmReportRunner</servlet-name>
		<servlet-class>
		com.ericsson.eniq.alarmcfg.servlets.AlarmReportRunner</servlet-class>
	</servlet>
	<!-- For adding CSP Filter -->
    <filter>
         <filter-name>AlarmCSPFilter</filter-name>
         <filter-class>com.ericsson.eniq.alarmcfg.alarmFilter.AlarmCSPFilter</filter-class>
    </filter>
    <filter-mapping>
         <filter-name>AlarmCSPFilter</filter-name>
         <url-pattern>/*</url-pattern>
         <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
	<filter>
		<filter-name>AdvancedAccessLogFilter</filter-name>
		<filter-class>com.ericsson.eniq.alarmcfg.common.AdvancedAccessLogFilter</filter-class>
	</filter>
	<listener>
		<display-name>AlarmConfigurationSessionListener</display-name>
    	<listener-class>com.ericsson.eniq.alarmcfg.servlets.AlarmConfigurationSessionListener</listener-class>
	</listener>
	<filter>
        <filter-name>httpHeaderSecurity</filter-name>
        <filter-class>org.apache.catalina.filters.HttpHeaderSecurityFilter</filter-class>
        <async-supported>true</async-supported>
    </filter>
	<filter-mapping>
		<filter-name>AdvancedAccessLogFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
        <filter-name>httpHeaderSecurity</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
	<servlet-mapping>
		<servlet-name>LoginPage</servlet-name>
		<url-pattern>/LoginPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExistingAlarms</servlet-name>
		<url-pattern>/ExistingAlarms</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeStatus</servlet-name>
		<url-pattern>/ChangeStatus</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteReport</servlet-name>
		<url-pattern>/DeleteReport</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddReport</servlet-name>
		<url-pattern>/AddReport</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjaxReport</servlet-name>
		<url-pattern>/AjaxReport</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddAlarm</servlet-name>
		<url-pattern>/AddAlarm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AlarmReportRunner</servlet-name>
		<url-pattern>/AlarmReportRunner</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>LoginPage</welcome-file>
	</welcome-file-list>
	<env-entry>
		<env-entry-name>conffilefolder</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>conf</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>conffile</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>alarmcfg.properties</env-entry-value>
	</env-entry>
	<security-constraint>
    <web-resource-collection>
              <web-resource-name>Automatic SSL Forward</web-resource-name>
              <url-pattern>/*</url-pattern>
      </web-resource-collection>
      <user-data-constraint>
              <transport-guarantee>CONFIDENTIAL</transport-guarantee>
      </user-data-constraint>
    </security-constraint>
</web-app>
